* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.42857143;
}

html, body {
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: url(http://wallpapercave.com/wp/bHMVnPQ.jpg);
    background-size: cover;
}

body > div[data-pjax-container] {
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, p, a, span, label, li, select, option, strong, em {
    color: #757575;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 5px 0;
    margin: 0;
}
h2 {
    line-height: 33px;
    font-size: 28px;
    font-weight: normal;
    margin: 10px 0 5px;
}

h1, h2, h3, a {
    color: #989898;
}

p, span, label, select, option, strong, em {
    font-size: 16px;
}

img, canvas {
    max-width: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}


/*Columns*/
.columns > * {
    display: inline-block;
    width: 100%;
}

.columns {
    width: 100%;
}
.columns.columns-two {
    column-count: 2;
}
.columns.columns-three {
    column-count: 3;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.row:before,
.row:after {
    display: none;
}
.row > * {
    float: none;
    margin: 0;
    padding: 0;
}
.col-md-1 {
    width: calc(8.33% - 10px);
}

.col-md-2 {
    width: calc(16.6% - 10px);
}

.col-md-3 {
    width: calc(25% - 10px);
}

.col-md-4 {
    width: calc(33.33% - 10px);
}

.col-md-5 {
    width: calc(41.66% - 10px);
}

.col-md-6 {
    width: calc(50% - 10px);
}

.col-md-7 {
    width: calc(58.33% - 10px);
}

.col-md-8 {
    width: calc(66.66% - 10px);
}

.col-md-9 {
    width: calc(75% - 10px);
}

.col-md-10 {
    width: calc(83.33% - 10px);
}

.col-md-11 {
    width: calc(97.67% - 10px);
}

.col-md-12 {
    width: calc(100% - 10px);
}

.block-center {
    margin: 0 auto;
}


/*HEADER*/
header#layout, footer#layout {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header#layout section.logo, footer#layout section.logo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: 245px;
    background-color: #37a296;
}

header#layout section.logo.minimized {
    width: 50px;
}

header#layout section.logo.maximized {
    animation-duration: .7s;
    animation-fill-mode: both;
    animation-name: slideOutRight;
}

.minimized {
    width: 50px;
    animation-duration: .7s;
    animation-fill-mode: both;
    animation-name: slideOutLeft;
}

header#layout section.logo * {
    color: #f0f0f0;
}

header#layout section.logo img {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-right: 5px;
}

header#layout section.logo span {
    font-size: 35px;
}

header#layout section.logo i {
    display: flex;
    align-items: center;
    position: absolute;
    right: -20px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    background-color: #ffa94b;
    padding: 7px 10px 10px 7px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

header#layout section.logo i:before {
    margin: 0 auto;
}

header#layout section.logo i:hover {
    background-color: #fb9a30;
}

header#layout section.widgets {
    display: flex;
    flex: 1;
    justify-content: space-between;
}
/*Breadcrumbs*/
header#layout section.widgets ul.breadcrumbs {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    padding-left: 40px;
    margin: 0;
}
header#layout section.widgets ul.breadcrumbs li {
    margin: 0 5px;
}
header#layout section.widgets ul.breadcrumbs li:not(:last-child):after {
    content: "/";
    padding: 0 5px;
}
header#layout section.widgets ul.breadcrumbs li * {
    font-size: 14px;
}
/*Languages*/
header#layout section.widgets .languages {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

header#layout section.widgets .languages > a {
    background-color: #ffa94b;
    padding: 5px 7px;
    border-radius: 3px;
}

header#layout section.widgets .languages a > * {
    color: #fff;
    font-size: 14px;
}

header#layout section.widgets .languages ul {
    top: 50px;
    right: 20px;
}

header#layout section.user {
    padding-right: 20px;
}

header#layout section.user > a {
    display: flex;
    align-items: center;
    height: 100%;
}

header#layout section.user p.user-name {
    padding-right: 10px;
    margin: 0;
}

header#layout section.user ul {
    display: none;
    top: 50px;
    right: 20px;
}

header#layout section.user img {
    height: 40px;
    margin-left: 5px;
}

/*SIDEBAR*/
aside#layout {
    width: 245px;
    min-height: calc(100vh - 50px);
    background-color: #3c9d92;
    border-top: 1px solid #378c82;
}

aside#layout ul#sidebar-nav {
    margin-top: 10px;
    border-top: 1px solid #378c82;
    border-bottom: 1px solid #3bbfb0;
}

aside#layout ul li {
    display: block;
    min-height: 50px;
}

aside#layout > ul > li.active > a,
aside#layout > ul > li li.active {
    border-left: 3px solid #ffa94b !important;
}
aside#layout > ul > li.dropdown li.active > a {
    padding-left: 27px;
}
aside#layout > ul > li.active > a {
    padding-left: 14px;
}

aside#layout > ul > li > a,
aside#layout > ul > li > p {
    height: 50px;
}

aside#layout ul li a,
aside#layout ul li > p {
    display: block;
    background-color: #37a296;
    color: #e0e0e0;
    padding-left: 17px;
    border-top: 1px solid #3bbfb0;
    border-bottom: 1px solid #378c82;
    cursor: pointer;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

aside#layout > ul > li.active a,
aside#layout ul li a:hover,
aside#layout > ul > li > p:hover {
    background-color: #2c8e84;
    border-top: 1px solid #378c82;
    border-bottom: 1px solid #37a296;
}

aside#layout > ul > li > a > p {
    height: 50px;
}
aside#layout ul li p {
    display: flex;
    align-items: center;
    margin: 0;
}

aside#layout ul li p > span {
    padding-left: 5px;
}

aside#layout ul li p > * {
    color: #fff;
}
aside#layout ul li li p > * {
    font-size: 14px;
}

aside#layout ul li.dropdown ul {
    display: none;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
}

aside#layout.minimized ul li.dropdown p {
    padding: 0;
}
aside#layout.minimized ul li.dropdown ul {
    display: none;
}

aside#layout ul li.dropdown ul li,
aside#layout ul li.dropdown ul li:hover {
    height: 45px;
    min-height: 45px;
    background-color: transparent;
    border: none;
}

aside#layout ul li.dropdown ul li a {
    height: 45px;
    background: none;
    padding: 0 0 0 30px;
    border-top: none;
}
aside#layout ul li.dropdown ul li a p {
    height: 45px;
}

aside#layout ul li.dropdown ul li.active a,
aside#layout ul li.dropdown ul li a:hover {
    border-top: none;
}
aside#layout ul li.dropdown ul li a:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
}

/*minimized*/
aside#layout.minimized {
    width: 50px;
}

aside#layout.maximized {
    animation-duration: .7s;
    animation-fill-mode: both;
    animation-name: slideOutRight;
}

aside#layout.minimized ul li a {
    padding: 0;
}

aside#layout.minimized li p > i {
    margin-left: 15px;
}

aside#layout p.on-site {
    text-align: center;
    margin: 10px 0;
}
aside#layout p.on-site a {
    position: relative;
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;
}
aside#layout p.on-site a span {
    color: #fff;
}
aside#layout p.on-site a:hover span {
    color: #FFA94B;
}
aside#layout p.on-site a i {
    color: #FFA94B;
    position: absolute;
    left: -18px;
    top: 3px;
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;
}
aside#layout.minimized p.on-site a i {
    left: -11px;
    font-size: 24px;
}
aside#layout.minimized p.on-site a span {
    font-size: 0;
}

/*MAIN*/
main#layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 245px);
    padding: 20px;
}

aside#layout.minimized + main#layout {
    animation-duration: .7s;
    animation-fill-mode: both;
    animation-name: slideOutLeftMain;
}

aside#layout.maximized + main#layout {
    animation-duration: .7s;
    animation-fill-mode: both;
    animation-name: slideOutRightMain;
}

@keyframes slideOutLeft {
    0% {
        width: 245px;
    }

    100% {
        width: 50px;
    }
}

@keyframes slideOutRight {
    0% {
        width: 50px;
    }
    100% {
        width: 245px;
    }
}

@keyframes slideOutLeftMain {
    0% {
        width: calc(100% - 250px);
    }

    100% {
        width: calc(100% - 50px);
    }
}

@keyframes slideOutRightMain {
    0% {
        width: calc(100% - 50px);
    }

    100% {
        width: calc(100% - 250px);
    }
}