.img-circle {
    border-radius: 50%;
}

.text-center {
    text-align: center;
}
.text-primary {
    color: #37a296 !important;
}
.text-warning {
    color: #ffa94b !important;
}
.text-danger {
    color: #eb4658 !important;
}

.padding20 {
    padding: 20px;
}
.modifiedElement {
    animation-duration: 1s;
    /*animation-fill-mode: both;*/
    animation-name: modifiedElementAnimation;
}
.seo-url {
    position: relative;
}

@keyframes modifiedElementAnimation {
    0% {
        background-color: transparent;
    }
    25% {
        background-color: rgba(55, 162, 150, 0.09);
    }
    50% {
        background-color: transparent;
    }
    75% {
        background-color: rgba(55, 162, 150, 0.09);
    }
    100% {
        background-color: transparent;
    }
}

div[data-pjax-container] {
    width: 100%;
}

/*Buttons*/
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    background-color: #37a296;
    padding: 5px 10px;
    margin: 0 1px;
    border: none;
    border-radius: 3px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.btn:hover {
    color: #f5f5f5;
    background-color: #33968b;
}
.btn.btn-xs {
    height: 24px;
    font-size: 12px;
    padding: 0 10px;
}
.btn.btn-xs * {
    font-size: 12px;
}
.btn.btn-danger {
    background-color: #EB4658;
}
.btn.btn-warning {
    background-color: #ffa94b;
}
.btn.btn-info {
    background-color: #21B9BB;
}
.btn.btn-default {
    background-color: #fff;
}
.btn.btn-default * {
    color: #989898;
}

.btn, .btn * {
    color: #f5f5f5 !important;
}

.btn-group {
    display: inline-flex;
}

.btn-group .btn {
    border-radius: 4px 0 0 4px;
}

.btn-group .dropdown {
    display: flex;
    align-items: center;
    background-color: #ffa94b;
    padding: 0 5px;
    border-radius: 0 4px 4px 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.btn-group .dropdown:hover {
    background-color: #f3a147;
}

.btn-group > a,
.btn-group section.dropdown > a {
    color: #f5f5f5;
}

.btn-group section.dropdown > a i {
    color: #f5f5f5;
}

.btn-group a span {
    font-size: 12px;
    font-weight: normal;
}

.btn-group ul {
    display: none;
}

.btn-in-input {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 34px;
    border-radius: 0 4px 4px 0;
}

/*Dropdown*/
.dropdown {
    position: relative;
}

.dropdown ul {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    min-width: calc(100% - 20px);
    background-color: #fff;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 3px solid #ffa94b;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.45);
    overflow: hidden;
    z-index: 2;
}

.dropdown > ul li {
    background-color: #fafafa;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #fff;
}

.dropdown > ul li:hover {
    background-color: #ffa94b;
}

.dropdown > ul li a {
    display: block;
    color: #989898;
    font-weight: normal;
    padding: 10px;
}
.dropdown > ul li a:hover {
    background-color: transparent;
}

.dropdown > ul li:hover * {
    color: #f5f5f5;
}

/*PAGINATION*/
ul.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}
ul.pagination li {
    background-color: #ffa94b;
    width: 28px;
    height: 28px;
    text-align: center;
    margin: 0 3px;
    padding: 0;
    border-radius: 50%;
}
ul.pagination li.active {
    background-color: #37a296;
}
ul.pagination li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
ul.pagination li span,
ul.pagination li a {
    color: #f5f5f5;
}

/*TABS*/
header.tabs {
    position: relative;
}
header.tabs ul {
    display: flex;
    list-style: none;
    margin: 0;
}
header.tabs ul li {
    margin: 0;
    border-radius: 4px 4px 0 0;
}
header.tabs ul li:hover {
    background-color: #e8e8e8;
}
header.tabs ul li.active {
    background-color: #fff;
    box-shadow: -5px -3px 12px -5px rgba(0, 0, 0, 0.25);
}
header.tabs ul li a {
    display: block;
    color: #989898;
    font-size: 15px;
    padding: 10px 18px;
    border: none !important;
}
header.tabs + .box {
    border-radius: 0 5px 5px 5px;
}


/*FORMS*/
form {
    position: relative;
}
.form-group {
    position: relative;
    margin: 0 0 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    background-color: #fff;
    color: inherit;
    font-size: 14px;
    line-height: 16px;
    padding: 7px 12px;
    margin: 0;
    border: 1px solid #e5e6e7;
    border-radius: 3px;
    box-shadow: none;
    transition: all ease-in-out .2s;
}
.has-success .form-control {
    border-color: #37a296;
}
.form-control input {
    padding: 6px 12px;
}
.help-block {
    display: block;
    margin: 1px;
    color: #737373;
}
.help-block:empty {
    display: none;
}
.note-editor.note-frame {
    border-color: #e5e6e7;
}
label {
    margin: 10px 10px 3px 0;
}

.checkbox input[type="checkbox"],
input[type="checkbox"] {
    visibility: hidden;
    position: relative;
    width: 50px;
    cursor: pointer;
}
input[type="checkbox"]:after {
    visibility: visible;
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all ease-in .25s;
}
input[type="checkbox"]:checked:after {
    left: 26px;
}
input[type="checkbox"]:before {
    visibility: visible;
    position: absolute;
    top: -4px;
    left: 0;
    content: '';
    background: #CDD1DA;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
input[type="checkbox"]:checked:before {
    background: #ffa94b;
}


/*BOX*/
.box {
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.25);
}
header + .box {
    margin-top: 0;
}

.box .box-title,
.box .box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.box .box-title {
    border-top: 3px solid #ffa94b;
    border-bottom: 1px solid #e2e2e2;
}
.box .box-footer {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #e2e2e2;
}

.box .box-title > *:not(a) {
    color: #989898;
    font-weight: normal;
}

.box .box-title h1 {
    font-size: 18px;
}

.box .box-title h2,
.box .box-title h3 {
    font-size: 18px;
    margin: 0 auto;
}

.box .box-content {
    padding: 10px 10px 20px;
}
.box .box-content ul {
    padding-left: 15px;
}
.box header {
    display: flex;
    justify-content: space-between;
}
section.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/*Table*/
table.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

table.table img:not(.modal-dialog) {
    width: 32px;
    height: 32px;
    margin: 0 2px;
}

table.table a {
    color: #37a296;
    font-weight: normal;
}

table.table input {
    display: inline-block;
    font-size: 14px;
    padding: 7px;
    border: none;
    outline: 1px solid #e5e6e7;
}
table.table input:focus,
table.table select:focus {
    outline: 1px solid #37a296;
}


table.table select {
    background-color: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

table.table tr {
    border-bottom: 1px solid #e7e7e7;
}

table.table thead td,
table.table tbody td,
table.table th {
    vertical-align: middle;
    text-align: center;
    padding: 10px 5px;
    border: none;
}

table.table th {
    background-color: #fafafa;
    color: #989898;
    font-size: 16px;
    padding: 15px 5px;
    border: none !important;
}

table.table tr:nth-child(odd) {
    background-color: #fafafa;
}

table.table tbody tr:hover {
    background-color: #f2f2f2;
}

table.table .col-md-1 {
    width: 8.33%;
}

table.table .col-md-2 {
    width: 16.6%;
}

table.table .col-md-3 {
    width: 25%;
}

table.table .col-md-4 {
    width: 33.33%;
}

table.table .col-md-5 {
    width: 41.66%;
}

table.table .col-md-6 {
    width: 50%;
}

table.table .col-md-7 {
    width: 58.33%;
}

table.table .col-md-8 {
    width: 66.66%;
}

table.table .col-md-9 {
    width: 75%;
}

table.table .col-md-10 {
    width: 83.33%;
}

table.table .col-md-11 {
    width: 97.67%;
}

table.table .col-md-12 {
    width: 100%;
}