.cart table {
    width: 100%;
}

.cart table tr {
    display: flex;
    position: relative;
}

.cart table a {
    color: #bfdc4c;
    font-weight: bold;
}

.cart table td,
.cart table th {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 1px;
}

.cart table th {
    background-color: #fecb43;
    color: #fff;
    font-size: 20px;
}

.cart table th a,
.cart table th a span {
    color: red;
}

.cart table .total-item-price,
.cart table .remove,
.cart table .price,
.cart table .quantity {
    width: 10%;
}

.cart table .product-title {
    width: 40%;
}

.cart table .product-image {
    width: 20%;
}

.cart table .product-image img {
    max-width: 100%;
    max-height: 100%;
}

/*Quantity*/
.cart table .product-count {
    display: flex;
    max-width: 100%;
    padding: 0;
    border-radius: 25px;
    box-shadow: -1px 2px 15px -7px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.cart table td input {
    height: 35px;
    background-color: rgba(240, 240, 240, 0.29);
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
}

.cart table td input * {
    height: 35px !important;
}

.cart table td.quantity button {
    width: 35px;
    height: 35px;
    background-color: #bfdc4c;
    color: #fff;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

/*Table footer*/
.cart table tfoot td {
    width: 100%;
    font-size: 21px;
}

section.order {
    background-color: #bfdc4c;
}
section.order input {
    background-color: #fafafa;
}
section.order label {
    color: #fff;
}
section.order div.help-block {
    background-color: #fecb43;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
section.order .button:hover {
    background-color: red;
}

@media all and (max-width: 1240px) {
    .cart table .total-item-price,
    .cart table .remove,
    .cart table .price,
    .cart table .quantity,
    .cart table .product-image {
        width: 15%;
    }

    .cart table .product-title {
        width: 25%;
    }
}

@media all and (max-width: 860px) {
    .cart table .product-image {
        display: none;
    }

    .cart table .total-item-price,
    .cart table .remove,
    .cart table .price,
    .cart table .quantity {
        width: 15%;
    }

    .cart table .product-title {
        width: 40%;
    }
}

@media all and (max-width: 860px) {
    .cart table .total-item-price {
        display: none;
    }

    .cart table .remove,
    .cart table .price,
    .cart table .quantity {
        width: 20%;
    }

    .cart table .product-title {
        width: 40%;
    }
}

@media all and (max-width: 600px) {
    .cart table .remove,
    .cart table .price {
        width: 20%;
    }

    .cart table .product-title,
    .cart table .quantity {
        width: 30%;
    }
    .cart table th.remove a i {
        font-size: 31px;
    }
    .cart table th.remove a span {
        display: none;
    }
}
@media all and (max-width: 450px) {
    .cart table th.product-title,
    .cart table td.product-title {
        width: 70%;
    }

    .cart table th.remove,
    .cart table td.remove {
        width: 30%;
    }

    .cart table td.product-title {
        padding-bottom: 55px;
    }

    .cart table th.price,
    .cart table th.quantity {
        display: none;
    }

    .cart table td.price {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 55px;
        width: 70px;
    }

    .cart table td.quantity {
        position: absolute;
        right: 35%;
        bottom: 0;
    }
    .cart table td input {
        width: 40px;
    }

    .cart table td.quantity:before {
        content: 'x';
        position: absolute;
        left: -20px;
        font-size: 21px;
        color: #777;
    }
}
