* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 48px;
}

p, li, span {
    padding: 5px 0;
    font-size: 18px;
}

p, span, h2, h3 {
    color: #575757;
}

a {
    text-decoration: none !important;
    color: #00B08A;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

input {
    background-color: rgba(240, 240, 240, 0.29);
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 15px -7px rgba(0, 0, 0, 0.7);
    outline: none;
}

.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-green {
    color: #00B08A !important;
}
.text-white {
    color: #f5f5f5 !important;
}
.text-gray {
    color: #adadad !important;
}
.text-black {
    color: #0d1318;
}
.text-orange {
    color: #EB4513;
}

.title {
    width: 100%;
    color: #0d1318;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    padding: 20px;
}

.box {
    background-color: #fafafa;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}
.box:first-of-type {
    margin-top: 0;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.green {
    background-color: #00B08A !important;
}
.red {
    background-color: red !important;
}

.button {
    display: block;
    width: auto;
    background-color: #0d1318;
    color: #f5f5f5;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 20px;
    border: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}

.button:hover {
    background-color: #00B08A;
}

.button.green:hover {
    background-color: #0d1318;
}

.button a,
.button i,
.button span {
    text-decoration: none !important;
    color: #f5f5f5;
}

.help-block {
    position: absolute;
    color: #f5f5f5;
    background-color: #00B08A;
    padding: 3px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -5px;
}

.help-block:empty {
    display: none;
}

.filter-black {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 19, 24, 0.55);
}



/*HEADER*/
header.layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #0d1318;
    padding: 0 20px;
    border-top: 4px solid #00B08A;
    box-shadow: 0 0 10px #000;
    z-index: 99999;
}
/*logo*/
header.layout section.logo {
    position: absolute;
    left: calc(50% - 92px);
}
header.layout section.logo a {
    display: flex;
}
header.layout section.logo a img {
    height: 80px;
}
/*Search*/
header.layout section.search {
    width: 300px;
}
header.layout section.search form {
    position: relative;
}
header.layout section.search form input {
    width: 100%;
    background-color: rgb(4, 7, 8);
    color: #f5f5f5;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    -webkit-transition: all ease-out .4s;
    -moz-transition: all ease-out .4s;
    -ms-transition: all ease-out .4s;
    -o-transition: all ease-out .4s;
    transition: all ease-out .4s;
    box-shadow: inset 0 0 15px #000;
}
header.layout section.search form input::-webkit-input-placeholder {
    color: #f5f5f5;
    text-indent: 0;
    transition: text-indent 0.3s ease;
}
header.layout section.search form input::-moz-placeholder {
    color: #f5f5f5;
    text-indent: 0;
    transition: text-indent 0.3s ease;
}
header.layout section.search form input:-moz-placeholder {
    color: #f5f5f5;
    text-indent: 0;
    transition: text-indent 0.3s ease;
}
header.layout section.search form input:-ms-input-placeholder {
    color: #f5f5f5;
    text-indent: 0;
    transition: text-indent 0.3s ease;
}
header.layout section.search form input:focus::-webkit-input-placeholder {
    text-indent: 100%;
    opacity: .75;
    transition: text-indent 0.5s ease;
}
header.layout section.search form input:focus::-moz-placeholder {
    text-indent: 100%;
    opacity: .75;
    transition: text-indent 0.5s ease;
}
header.layout section.search form input:focus:-moz-placeholder {
    text-indent: 100%;
    opacity: .75;
    transition: text-indent 0.5s ease;
}
header.layout section.search form input:focus:-ms-input-placeholder {
    text-indent: 100%;
    opacity: .75;
    transition: text-indent 0.5s ease;
}
header.layout section.search form input:focus {
    outline: none;
    transform: scaleX(1.1);
    box-shadow: 0 2px 15px -7px rgba(0, 0, 0, 1);
}
header.layout section.search form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 4px 10px;
    font-size: 20px;
    color: #f5f5f5;
    background-color: transparent;
    border: none;
    -webkit-transition: all ease-out .4s;
    -moz-transition: all ease-out .4s;
    -ms-transition: all ease-out .4s;
    -o-transition: all ease-out .4s;
    transition: all ease-out .4s;
}
header.layout section.search form input:focus + button {
    right: -5%;
}
/*Menu*/
header.layout nav {
    display: flex;
    align-items: center;
}
header.layout nav ul {
    list-style: none;
    display: flex;
}
header.layout nav ul li {
    width: 80px;
}
header.layout nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header.layout nav ul li a:hover i.fa,
header.layout nav ul li a:hover span {
    color: #00B08A;
}
header.layout nav ul li a i.fa {
    font-size: 30px;
    color: #f5f5f5;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
header.layout nav ul li a span {
    font-size: 14px;
    color: #f5f5f5;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}


/*MAIN*/
body > main {
    position: relative;
    width: 100%;
    margin-top: 90px;
    flex: 1;
}

body > main div.header-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    margin-top: -90px;
}

body > main div.header-bg picture {
    position: absolute;
}
body > main div.header-bg img {
    width: 100%;
}

/*Article*/
#home-page-slider button {
    z-index: 1;
    top: calc(50vh - 90px);
}
#home-page-slider button:before {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 50%;
    font-size: 50px;
    opacity: .15;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
#home-page-slider button:hover:before {
    opacity: .25;
}
#home-page-slider button:first-of-type {
    left: 25px !important;
}
#home-page-slider button:last-of-type {
    right: 70px !important;
}


header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 33px;
}

header div.description {
    width: 100%;
    height: 100%;
}

body div.description * {
    color: #FCFCFC;
}

body > main section.slide-three {
    position: relative;
    padding: 20px 0 30px;
    background: #0d1318;
}

/*Main categories*/
body > main .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

body > main .categories.vendors {
    padding: 10px 0 20px;
}

body > main .categories .category {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(33.3% - 10px);
    background-color: #f5f5f5;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
    overflow: hidden;
}

body > main div.categories.vendors .category {
    width: 200px;
    height: 150px;
    margin: 10px 20px;
    transition: all ease .35s;
}
body > main div.categories.vendors .category:hover {
    transform: scale(1.05);
}


body > main .categories .category:nth-child(odd) h2 {
    background-color: #0d1318;
}

body > main .categories .category:nth-child(even) h2 {
    background-color: #00B08A;
}

body > main .categories div.category h2 {
    width: 100%;
    height: auto;
    max-height: 70px;
    color: #FCFCFC;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

body > main .categories div.category p {
    color: #5a5a5a;
}

body > main .categories div.category div.category-image {
    display: flex;
    align-items: center;
    width: 30%;
    height: 200px;
    margin-top: -50px;
}
body > main div.categories.vendors div.category div.category-image {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

body > main .categories div.category img {
    max-height: 100%;
    max-width: 100%;
}

body > main .categories div.category div.category-description {
    width: 70%;
    min-height: 170px;
    padding: 0 5px 5px 0;
}

body > main .categories div.category a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

/*Section shop*/
section.shop {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

section.shop main {
    width: calc(100% - 360px);
    margin: 20px 0;
}

/*Categories menu*/
body > main aside {
    width: 300px;
    margin: 20px 20px 20px 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

body > main aside ul {
    list-style: none;
}

body > main aside ul li {
    border-bottom: 1px solid #eee;
    background-color: #f5f5f5;
}

body > main aside ul li:last-child {
    border: none;
}

body > main aside ul > li {
    background-color: #f5f5f5;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

body > main aside ul > li:hover {
    background-color: #EB4513;
}

body > main aside > ul > li {
    background-color: #00B08A;
}

body > main section aside > ul > li > a {
    color: #f5f5f5;
}

body > main aside ul > li.title {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: #00B08A;
}

body > main aside ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #0d1318;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    border-bottom: 1px solid #fafafa;
}

body > main aside ul li a:last-child {
    border: none;
}

body > main aside ul li ul li a {
    font-size: 16px;
    font-weight: normal;
}

/*Products*/
section.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

section.products #p0 {
    width: 100%;
}

section.products .product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(25% - 15px);
    min-width: 300px;
    height: 400px;
    background-color: #fafafa;
    padding: 0 0 10px 0;
    margin: 0 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

section.products .product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px -10px #000;
}

section.products .product-item:first-of-type {
    margin-left: 0;
}

section.products .product-item .product-name {
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 21px;
    background-color: #00b08a;
    border-radius: 5px 5px 0 0;
}

section.products .product-item .product-image-wrap {
    max-height: 200px;
    overflow: hidden;
}

section.products .product-item img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

section.products .product-item a {
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

section.products .product-item input[type="number"] {
    width: 50%;
    background-color: #F0F0F0;
    color: #333;
    font-size: 21px;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    border: none;
    box-shadow: inset 0 0 5px rgba(51, 51, 51, 0.18);
}

/*Product categories*/
section.shop .filter {
    background: #EB4513;
    margin: 20px -20px -20px;
    padding: 20px;
}
section.shop .filter form {
    display: flex;
    justify-content: center;
}
section.shop .filter form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px;
}
section.shop .filter form label {
    color: #f5f5f5;
    font-size: 18px;
    padding-bottom: 5px;
}
section.shop .filter form select {
    padding: 10px 100px;
    border-radius: 3px;
}
section.shop .filter form button {
    margin: 10px 50px;
    height: 64px;
    background-color: #00b08a;
    border: none;
    padding: 0 10px;
    color: #f5f5f5;
    font-size: 18px;
    cursor: pointer;
}

/*Sorting*/
div.sort button,
div.sort small {
    display: none;
}

div.sort div {
    float: none;
}

div.sort ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px auto;
}

div.sort ul li {
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    margin: 0 10px;
}

div.sort ul li:nth-child(odd) {
    background-color: #0d1318;
}

div.sort ul li:nth-child(even) {
    background-color: #00B08A;
}

div.sort ul li a {
    text-decoration: none;
    color: #f5f5f5;
}

/*Pagination*/
ul.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
}

ul.pagination li {
    width: 25px;
    height: 25px;
    background-color: #00B08A;
    line-height: 25px;
    text-align: center;
    margin: 10px;
    border-radius: 50%;
}

ul.pagination li.active {
    background-color: #0d1318;
}

ul.pagination li.next,
ul.pagination li.prev {
    display: none;
}

ul.pagination li a {
    display: block;
    color: #f5f5f5;
    font-size: 18px;
}

button#add-to-cart-button {
    width: 70%;
    max-width: 200px;
    color: #FCFCFC;
    font-size: 21px;
    background-color: #00B08A;
    border: none;
    border-radius: 0;
    padding: 7px;
    cursor: pointer;
    margin: 0 auto 10px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

button#add-to-cart-button:hover {
    background-color: #0d1318;
}

/*FOOTER*/
body > footer {
    flex: 0;
    width: 100%;
    height: 200px;
    background-color: #0d1318;
    padding: 10px 20px;
    box-sizing: border-box;
}

body > footer * {
    color: #FCFCFC;
}

/*Breadcrumbs*/
ul.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background: none;
}

ul.breadcrumb li {
    padding-left: 20px;
}

ul.breadcrumb li:first-child {
    padding-left: 0;
}

ul.breadcrumb li:before {
    content: '\27A4';
}

/*PRODUCT PAGE*/
section.shop main.product-page section.product-card {
    display: flex;
    flex-wrap: wrap;
    background-color: #fafafa;
    margin-bottom: -10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

section.shop main.product-page h1 {
    width: 100%;
    background-color: #00B08A;
    color: #f5f5f5;
    text-align: center;
    padding: 5px 0;
}

section.shop main.product-page .product-image {
    display: flex;
    width: 50%;
    align-items: center;
    background-color: #eee;
}

section.shop main.product-page .product-controls {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}
section.shop main.product-page .product-controls section.vendor {
    display: flex;
}
section.shop main.product-page .product-controls section.vendor img {
    max-width: 100px;
}


section.shop main.product-page table.params {
    width: 100%;
}

section.shop main.product-page table.params td {
    width: 50%;
    background-color: #f3f3f3;
    padding: 5px;
    margin: 1px;
}

/*Files*/
section.shop main.product-page section.files {
    margin: 10px 0;
    text-align: center;
}

section.shop main.product-page section.files ul {
    list-style: none;
}

section.shop main.product-page section.files a {
    text-decoration: none;
    color: #0d1318;
}

/*Prices*/
div.product-prices-widget {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}

section.shop main .prices-block,
section.shop main .product-prices-widget .quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
}

section.shop main .product-prices-widget .quantity {
    flex-direction: row !important;
    order: 1;
}
section.shop .product-item .product-prices-widget div.quantity p {
    display: none;
}
section.shop main .product-prices-widget div.quantity p {
    margin-right: 20px;
}
section.shop main .product-prices-widget div.prices-block {
    order: 2;
}
section.shop main .product-prices-widget button#add-to-cart-button {
    order: 3;
}

section.shop main .prices-block p.sum {
    position: relative;
}

section.shop main .prices-block span {
    color: #0d1318;
    font-size: 24px;
    font-weight: bold;
}

section.shop main .prices-block span.old-sum {
    position: absolute;
    top: 20px;
    color: inherit;
    font-size: 16px;
    font-weight: normal;
    text-decoration: line-through;
    margin: 0 0 -10px -20px;
}

section.shop main .product-prices-widget input {
    padding: 10px;
    width: 55px;
}

section.shop section.procuct-description {
    background-color: #fafafa;
    width: 100%;
    margin: 20px 0 -10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    box-sizing: border-box;
}

/*PRODUCT SLIDER*/
.product-image-slider {
    margin-bottom: 15px;
    width: 100%;
}

.product-image-slider #productImageSlider {
    border: 1px solid #efefef;
}

.product-image-slider #productImageSlider ul.slick-dots {
    height: 45px;
    bottom: -60px;
    z-index: 2;
}

.product-image-slider #productImageSlider ul.slick-dots li button:before {
    font-size: 12px;
}

.product-image-slider .product-image-slide {
    display: flex;
    align-items: center;
    height: 300px;
    line-height: 55px;
}

.product-image-slider .product-image-slide a {
    display: flex;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.product-image-slider .product-image-slide a img {
    display: flex;
    max-width: 99%;
    max-height: 100%;
    height: auto;
    margin: 0 auto;
}

.product-image-slider .product-image-slide:focus {
    outline: none;
}

.product-image-slider .slick-prev {
    left: 3px;
}

.product-image-slider .slick-prev:before {
    content: "\f104";
}

.product-image-slider .slick-next {
    right: 3px;
}

.product-image-slider .slick-next:before {
    content: "\f105";
}

.product-image-slider .slick-prev, .product-image-slider .slick-next {
    z-index: 100;
}

.product-image-slider .slick-prev:before, .product-image-slider .slick-next:before {
    display: inline-block;
    opacity: 0;
    font-family: FontAwesome, serif;
    font-size: 30px;
    color: rgba(31, 179, 169, 0.7);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.product-image-slider:hover .slick-prev:before, .product-image-slider:hover .slick-next:before {
    opacity: inherit
}

.product-image-thumbs {
    display: block;
    margin-top: 20px;
}

.product-image-thumbs .product-image-slide-thumb {
    display: flex;
    align-content: center;
    max-width: 100px;
    height: 70px;
    background-color: #f5f5f5;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
    line-height: 55px;
    border: 1px solid #efefef;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}

.product-image-thumbs .product-image-slide-thumb.slick-current {
    box-shadow: 0 0 10px #000;
    transform: scaleX(1.2);
}

.product-image-thumbs .slick-track .product-image-slide-thumb img {
    display: block;
    width: auto !important;
    max-height: 58px;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
}

.product-image-thumbs .product-image-slide-thumb.slick-current img {
    transform: scaleX(.8);
}

.product-image-thumbs .product-image-slide-thumb:hover {
    border-color: #7dd5d7;
}

.product-image-thumbs .slick-arrow {
    position: relative;
    left: 30px;
}

.product-image-thumbs .slick-arrow:before {
    font-size: 25px;
}

.product-image-thumbs .slick-prev {
    top: -10px;
}

.product-image-thumbs .slick-prev:before {
    content: "\f106";
}

.product-image-thumbs .slick-next {
    bottom: -10px;
}

.product-image-thumbs .slick-next:before {
    content: "\f107";
}


/*MAIN PAGE LANDING*/
#home-page-slider {
    height: calc(100vh - 160px);
    overflow: hidden;
    margin-bottom: 0;
}
#home-page-slider img {
    filter: grayscale(100%);
    min-width: 100%;
}

#home-page-slider .slide {
    position: relative;
}
#home-page-slider .slide p.title {
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 25%;
    width: 50%;
    text-align: center;
    font-size: 45px;
    color: #f5f5f5;
    animation-duration: 2s;
    animation-name: show-slide-info;
    animation-iteration-count: 1;
    animation-delay: .5s;
}
#home-page-slider .slide p.description {
    position: absolute;
    z-index: 1;
    top: 200px;
    right: 25%;
    width: 50%;
    font-size: 24px;
    color: #f5f5f5;
    text-align: center;
    background-color: #00B08A;
    padding: 20px;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0 100%);
}
#home-page-slider .slide a.read-more {
    position: absolute;
    display: inline-block;
    width: auto;
    padding: 10px 50px;
    top: 320px;
    right: calc(50% - 120px);
    text-align: left;
    font-size: 30px;
    color: #f5f5f5;
    background-color: #eb4513;
    z-index: 1;
}

body > main > header.tape {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    height: 100px;
    width: 100%;
}
header.tape h1 {
    font-size: 54px;
    line-height: 120px;
    color: #f5f5f5;
    height: 120px;
    margin-top: -40px;
    background: url(/images/tape.jpg);
    left: 0;
    width: 100%;
}
header.tape div {
    height: 350px;
    width: 100%;
    background: #fff;
    margin-top: -40px;
}

section.advantages {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto 50px;
}
section.advantages > div {
    display: flex;
    width: 49%;
}
section.advantages > div:nth-child(odd) {
    margin-right: 1%;
}
section.advantages > div:nth-child(even) {
    margin-left: 1%;
}
section.advantages div.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 96px);
}
section.advantages .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: #eb4513;
    margin: 10px 20px 10px 0;
    transition: all ease .35s;
}
section.advantages .circle:hover {
    transform: rotate(360deg);
}

section.slide-one {
    position: relative;
    height: 500px;
    background: url(/images/kd3.jpg) no-repeat;
    box-shadow: inset 0 0 100px 80px #0d1318;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.slide-one * {
    color: #f5f5f5;
}
section.slide-one .filter-black {
    z-index: 1;
}
section.slide-one > *:not(.filter-black) {
    position: relative;
    z-index: 2;
}
section.slide-one > p.title {
    font-size: 50px;
}
section.slide-one section.flex-center > section {
    display: flex;
    width: 40%;
}
section.slide-one section.flex-center > section div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    padding: 0 15px;
}
section.slide-one section.flex-center > section div:first-of-type i {
    color: #03b291;
}
section.slide-one section.flex-center > section div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.slide-one section.flex-center > section p {
    font-size: 35px;
}

section.slide-two {
    position: relative;
    min-height: 120px;
    background-color: #0d1318;
    margin-bottom: 140px;
}
section.slide-two div.background {
    position: absolute;
    width: 100%;
    bottom: -99px;
}
section.slide-two div.background img {
    position: absolute;
    top: -155px;
    right: 0;
    z-index: 3;
}
section.slide-two div.background div {
    background-color: #0D1318;
    position: relative;
    height: 100px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%);
}

section.go-for-us {
    width: 100%;
    background-color: #3B4346;
    border-bottom: 4px solid #00B08A;
}
section.about-company {
    width: 80%;
    padding: 20px;
    margin: 0 auto 20px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 30px 41px -2px #000000;
    background: #0d1318;
}
section.about-company * {
    color: #f5f5f5;
}
section.go-for-us > div > section,
section.about-company > div > * {
    width: 45%;
    padding: 0 20px;
}
section.go-for-us > div > section.info > div {
    padding-bottom: 10px;
}

section.autoparts {
    width: 60%;
    padding: 20px;
    margin: 0 auto 20px;
}
section.autoparts > div {
    display: flex;
    justify-content: space-between;
}
section.autoparts > div section {
    width: 40%;
    border: 2px solid #00b08a;
    padding: 20px;
}
section.autoparts > div section:first-of-type {
    border-right: none;
}
section.autoparts > div section:last-of-type {
    border-left: none;
}
section.autoparts > div section:nth-of-type(2) {
    border: none;
}
section.cog {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    padding: 0;
    color: #00b08a;
}

section.sto {
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}
section.sto > p:first-of-type {
    margin: 0 auto;
}
section.sto ul,
section.sto b {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.sto li {
    position: relative;
    list-style: none;
}
section.sto li:before {
    content: '\2714';
    color: #00B08A;
    position: absolute;
    left: -30px;
    font-size: 35px;
    bottom: -7px;
}
section.sto div.services {
    flex-wrap: wrap;
    margin: 30px 0;
}
section.sto div.services div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
    margin: 15px 0;
}
section.sto div.services div img {
    width: 90px;
    height: 90px;
    background-color: #eb4513;
    padding: 10px;
    border-radius: 50%;
    transition: all ease .35s;
}
section.sto div.services div img:hover {
    transform: rotate(360deg);
}



/*CART*/
div.cart {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #00b08a;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
    opacity: .8;
    z-index: 99999;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}
div.cart:hover {
    opacity: 1;
}
div.cart i {
    color: #000;
    font-size: 54px;
}
div.cart span.order-counter {
    position: absolute;
    top: 12px;
    right: 7px;
    width: 24px;
    color: #000;
    font-size: 21px;
    text-align: center;
    background-color: #fafafa;
    border-radius: 50%;
}
div.cart-user-buttons {
    display: flex;
    justify-content: center;
}
.make-order-form {
    width: 50%;
    margin: 0 auto;
}

/*CART INFO*/
div#cart-message {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 99999;
}

div#cart-message > div {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

div#cart-message > div header {
    background-color: #0d1318;
    padding: 10px 30px;
}

div#cart-message > div header p {
    color: #f5f5f5;
    font-size: 24px;
}

div#cart-message main p.total-cost {
    font-size: 24px;
    font-weight: bold;
}

div#cart-message main p.total-cost span {
    font-weight: normal;
}

div#cart-message footer {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

div#cart-message footer button,
div#cart-message footer a {
    background-color: #00B08A;
    color: #f5f5f5;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
}


/*ARTICLES CATEGORY PAGE*/
main > article > section.slide {
    position: relative;
    max-height: 45vh;
    margin-bottom: 30px;
    overflow: hidden;
}
main > article > section.slide img {
    width: 100%;
}
main > article > section.slide h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    color: #f5f5f5;
}
main > article > section.slide .short-text {
    position: absolute;
    top: 100px;
    left: 25%;
    width: 50%;
    text-align: center;
}
main > article > section.slide p,
main > article > section.slide li {
    color: #f5f5f5;
    padding: 0;
}
main > article > section.text,
main > article > section.posts {
    width: 70%;
    margin: 0 auto 30px;
}
main > article > section.posts {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
main > article > section.posts .post {
    width: 50%;
}
main > article > section.posts .post .post-title {
    text-align: center;
}
main > article > section.posts .post section.description {
    display: flex;
}
main > article > section.posts .post .image {
    width: 30%;
    padding-top: 10px;
}
main > article > section.posts .post .post-text {
    width: 70%;
    padding: 0 20px;
}

/*Slick slider*/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*Slick theme css*/
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
/*Product prices widget*/
div.product-prices-widget p#oldPrice {
    margin: 0;
    font-size: 16px;
    text-decoration: line-through;
}
div.product-prices-widget p#newPrice {
    color: #f9ba14;
    font-size: 26px;
    font-weight: bold;
}

div.combinations-values p.attribute-title {
    font-weight: bold;
}
div.combinations-values img.texture {
    width: 30px;
    height: 30px;
}
div.combinations-values div.attribute-color {
    width: 30px;
    height: 30px;
}
div.combinations-values span.price-title {
    font-weight: bold;
    font-size: 18px;
}
div.combinations-values input:checked + label * {
    border: 1px solid rgb(11, 117, 220);
}

/*Price loader*/
#floatBarsG{
    position:relative;
    width:72px;
    height:9px;
    margin:auto;
}

.floatBarsG{
    position:absolute;
    top:0;
    background-color:rgb(0,0,0);
    width:9px;
    height:9px;
    animation-name:bounce_floatBarsG;
    -o-animation-name:bounce_floatBarsG;
    -ms-animation-name:bounce_floatBarsG;
    -webkit-animation-name:bounce_floatBarsG;
    -moz-animation-name:bounce_floatBarsG;
    animation-duration:0.455s;
    -o-animation-duration:0.455s;
    -ms-animation-duration:0.455s;
    -webkit-animation-duration:0.455s;
    -moz-animation-duration:0.455s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
}

#floatBarsG_1{
    left:0;
    animation-delay:0.186s;
    -o-animation-delay:0.186s;
    -ms-animation-delay:0.186s;
    -webkit-animation-delay:0.186s;
    -moz-animation-delay:0.186s;
}

#floatBarsG_2{
    left:9px;
    animation-delay:0.2225s;
    -o-animation-delay:0.2225s;
    -ms-animation-delay:0.2225s;
    -webkit-animation-delay:0.2225s;
    -moz-animation-delay:0.2225s;
}

#floatBarsG_3{
    left:18px;
    animation-delay:0.269s;
    -o-animation-delay:0.269s;
    -ms-animation-delay:0.269s;
    -webkit-animation-delay:0.269s;
    -moz-animation-delay:0.269s;
}

#floatBarsG_4{
    left:27px;
    animation-delay:0.3155s;
    -o-animation-delay:0.3155s;
    -ms-animation-delay:0.3155s;
    -webkit-animation-delay:0.3155s;
    -moz-animation-delay:0.3155s;
}

#floatBarsG_5{
    left:36px;
    animation-delay:0.362s;
    -o-animation-delay:0.362s;
    -ms-animation-delay:0.362s;
    -webkit-animation-delay:0.362s;
    -moz-animation-delay:0.362s;
}

#floatBarsG_6{
    left:45px;
    animation-delay:0.4085s;
    -o-animation-delay:0.4085s;
    -ms-animation-delay:0.4085s;
    -webkit-animation-delay:0.4085s;
    -moz-animation-delay:0.4085s;
}

#floatBarsG_7{
    left:54px;
    animation-delay:0.455s;
    -o-animation-delay:0.455s;
    -ms-animation-delay:0.455s;
    -webkit-animation-delay:0.455s;
    -moz-animation-delay:0.455s;
}

#floatBarsG_8{
    left:63px;
    animation-delay:0.5015s;
    -o-animation-delay:0.5015s;
    -ms-animation-delay:0.5015s;
    -webkit-animation-delay:0.5015s;
    -moz-animation-delay:0.5015s;
}



@keyframes bounce_floatBarsG{
    0%{
        transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_floatBarsG{
    0%{
        -o-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_floatBarsG{
    0%{
        -ms-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_floatBarsG{
    0%{
        -webkit-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_floatBarsG{
    0%{
        -moz-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
        -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}


@media all and (max-width: 1240px) {
    section.shop {
        flex-direction: column;
    }

    body > main aside {
        order: 2;
    }

    section.shop main {
        order: 1;
    }

    body > main aside, section.shop main {
        width: 100%;
    }

    header.layout div.middle div.contact-info {
        display: none;
    }

    header.layout div.middle {
        position: relative;
        left: 0;
        width: 100%;
    }

    header.layout section.search form input:focus {
        transform: none;
    }

    header.layout section.search form input:focus + button {
        right: 0;
    }

    #home-page-slider .slide p.title, #home-page-slider .slide p.description {
        width: 70%;
        right: 15%;
    }
    main > article > section.slide .short-text {
        width: 70%;
        left: 15%;
    }
    body > main > article {
        margin: 0;
    }
    body > main > article header {
        height: auto;
    }
    body > main > article div.categories.vendors > .category {
        width: 33%;
        height: auto;
    }
    body > footer {
        display: none;
    }
}

@media all and (max-width: 840px) {

    h2 {
        font-size: 30px;
    }

    #home-page-slider p.title {
        font-size: 35px !important;
    }
    header.layout {
        height: 140px;
        justify-content: center;
        width: 100vw;
        flex-wrap: wrap;
    }
    header.layout nav ul li {
        width: 68px;
    }
    header.layout nav ul li a span {
        font-size: 12px;
    }
    section.logo {
        display: none;
    }
    header.layout section.search {
        width: 300px;
        margin: 10px 0;
    }
    body > main > header.tape {
        height: auto;
        left: 0;
        width: 100%;
        padding: 0;
    }
    body > main > header.tape h1 {
        height: auto;
        font-size: 35px;
        line-height: 60px;
    }
    body > main {
        margin-top: 140px;
    }
    section.slide-one section.flex-center > section p {
        font-size: 32px;
    }
    section.autoparts > div {
        flex-direction: column;
    }
    section.autoparts > div section {
        width: 100%;
    }
    section.autoparts > div section:first-of-type {
        border-right: 2px solid #00b08a;
        border-bottom: none;
    }
    section.autoparts > div section:last-of-type {
        border-left: 2px solid #00b08a;
        border-top: none;
    }
    section.autoparts, section.advantages, section.sto, section.about-company {
        width: 100%;
        padding: 20px 10px;
    }
    section.go-for-us > div > section, section.about-company > div > * {
        width: 100%;
    }

    section.advantages > div {
        flex-direction: column;
        align-items: center;
    }
    section.advantages .circle {
        margin: 0;
    }
    section.advantages div.info {
        width: 100%;
        padding-bottom: 20px;
    }
    section.advantages div.info * {
        text-align: center;
    }
    section.advantages div.info .text-green {
        height: 38px;
    }

    section.sto ul {
        display: block;
        padding-left: 20px;
    }

    body > main > article .categories {
        flex-direction: column;
    }
    body > main > article .categories.vendors {
        flex-direction: row;
    }

    section.slide-one section.flex-center > section {
        width: 100%;
        padding: 10px;
    }
    section.slide-one section.flex-center > section div:first-of-type {
        display: none;
    }

    body > main > article .categories > .category {
        width: 100%;
        height: auto;
    }
    body > main > article div.categories.vendors > .category {
        width: calc(50% - 20px);
        margin: 10px;
    }
    #home-page-slider, #home-page-slider img {
        height: 100vh;
    }
    #home-page-slider .slide p.title {
        right: 5%;
        width: 90%;
    }
    #home-page-slider .slide p.description {
        display: none !important;
    }
    #home-page-slider .slide a.read-more {
        top: calc(100vh - 180px);
    }
    section.shop .filter form {
        flex-direction: column;
    }
    section.shop .filter form .form-group {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    section.shop .filter form select {
        width: 100%;
        padding: 10px;
    }
    section.shop .filter form label {
        margin-top: 10px;
    }
    section.products .product-item {
        width: 90%;
        margin: 10px 0;
    }
    main > article > section.slide img {
        display: none;
    }
    main > article > section.slide * {
        color: #000103 !important;
    }
    main > article > section.slide .filter-black {
        display: none;
    }
    main > article > section.slide h1 {
        position: relative;
        top: inherit;
        left: inherit;
    }
    main > article > section.slide .short-text {
        width: 100%;
        position: relative;
        top: inherit;
        left: inherit;
    }
    main > article > section.slide {
        max-height: inherit;
    }
    main > article > section.text, main > article > section.posts {
        width: 90%;
    }
    main > article > section.posts .post {
        width: 100%;
    }
    section.slide-two {
        display: none;
    }
}

@media all and (max-width: 670px) {
    header div.description {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    body > main div.header-bg img {
        width: auto;
        height: 100%;
    }

    body > main > article header {
        height: auto;
    }

    div.sort {
        display: none;
    }

    body > main > article {
        padding: 10px;
        margin: 0;
    }

    body > main > article > main:after {
        content: none;
    }

    section.shop main.product-page .product-image,
    section.shop main.product-page .product-controls {
        width: 100%;
    }

    section.sto div.services div {
        width: 50%;
    }
}

@media all and (max-width: 660px) {

    section.products .product-item {
        min-width: 250px;
    }
    body > main div.header-bg {
        max-height: none;
    }
}

@media all and (max-width: 560px) {
    body > main > article div.categories.vendors > .category {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }
}

@media all and (max-width: 450px) {

    header.layout section.logo {
        order: 1;
    }

    header.layout div.middle {
        order: 3;
        position: relative;
        left: 0;
        width: 100%;
    }

    header.layout nav {
        order: 2;
    }
}
@media all and (max-width: 350px) {
    header.layout section.logo {
        display: none;
    }
    header.layout nav {
        margin: 0 auto;
    }
}